body {
    background-image: url("http://orgs.usd.edu/nmm/Violins/Amati3423/3423HAmatiViolinSoundholesBlackLG.jpg");
    font-family: georgia, "Trebuchet MS", Verdana, sans-serif;
    color: black;
}

/main title/
h1.header {
    color: red;
    font-size: 200%;
}

h2.subtitle {
    color: pink
}


h1 {
    color: red;
}

h2 {
    color: white;
    padding: 50px;
}

/I want to break this too/
p {
    background: #FF3333
}



/I want to break this/
ul {
    background: black
}

a:hover {
    color: black;
}

a {
    color: white;
}

p.special {
    color: orange;
    background: yellow;
    font-family: helvetica, arial, sans-serif;
    padding: 10px;
}



#top {
        margin: 20px;
        padding: 10px;
        background: red;
        height: 100px
}


#left {
        position: absolute;
        top: 100px;
        left: 100px;
        width: 450px;
        background: red;
}

#right {
        position: absolute;
        top: 100px;
        right:100px;
        width: 450px;
        background: blue;
}

#center {
        margin-top: 0;
        margin-left: 220px;
        margin-right: 220px;
        background: red;
}

.gallery{
	background: #000;
	padding:50px;
}

.gallery img{
	display:block;
	margin:50px auto 0 auto;
	width:400px;
}





/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:block;
	float: left;
	margin-right: 1px;
}


/*Style for menu links*/
li a {
	display: inline-block;
	min-width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: red;
	text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
	background: #333;
	color: red;
}

/*Style for dropdown links*/
li:hover ul a {
	color: red;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: #333;
	color: red;
}


/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}