
/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 100%;
	line-height: 1;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

/* ----------FONTS----------------*/

@font-face {
    	font-family: 'AnudiRegular';
    	src: url('fonts/Anudi.eot');
    	src: local('Anudi Regular'), local('Anudi'),url('fonts/Anudi.ttf') format('truetype');
}

@font-face {
    	font-family: 'Cinzel-Regular';
    	src: url('fonts/cinzel/Cinzel-Regular.eot');
    	src: local('Cinzel-Regular'), local('cinzel'),url('fonts/cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
    	font-family: 'CarbonType';
    	src: url('fonts/CarbonType/carbontype.eot');
    	src: local('CarbonType'), local('CarbonType'),url('fonts/CarbonType/carbontype.ttf') format('truetype');
}

@font-face {
    	font-family: 'Brushstroke';
    	src: url('fonts/Brushstroke/BRUSHSTROKE.eot');
    	src: local('Brushstroke'), local('CarbonType'),url('fonts/Brushstroke/BRUSHSTROKE.ttf') format('truetype');
}

@font-face {
    	font-family: 'Boycott';
    	src: url('fonts/Boycott/BOYCOTT.eot');
    	src: local('Boycott'), local('Boycott'),url('fonts/Boycott/BOYCOTT.ttf') format('truetype');
}

body, html {
  /* important */
  height: 100%;
}

html {
    font-size: 100%;
    line-height:1;
    }

body {
    font-family: 'Cinzel-Regular', Arial, Geneva,sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



h1, h2 {
    font-family: 'CarbonType', Arial, sans-serif;
}


h3   {font-family: 'CarbonType', Arial, sans-serif;
}

.name {
        float: left;
        font-family: 'CarbonType', Arial, sans-serif;
        color: black;
        padding: 0 0 0 10px;
}

.name:hover{
    color: black;
}


p {
		font-size: 1.063em; /* 17px / 16 = 1.063em */
		line-height: 1.223; /* 1.3 (golden number) / 1.063 = 1.223 */
		margin: .612em 0;
		text-align: right;
			}

h2,h3,h4,h6 {
	    font-weight: 100;
	    }

h1 {
	font-size: 1.6em;
    line-height: 1.223;
    text-align: center;
    color: rgb(255, 153, 128);
    font-weight: 500;
		}

h2  {
	font-size: 2.126em;
	line-height: 1.223;
		    }

h1, h2 {
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }

h3 {
	font-size: 1.382em; /* 1.3 x 1.063*/
	line-height: 1.176;
		}

h6 {
	font-size: 1.25em; /* 1.3 x 1.063*/
	line-height: 1.176;
		}

h4 {
	font-size: 1.063em; /* 17px / 16 = 1.063em */
    line-height: 1.223;
	text-align: center;
	font-family: 'Cinzel-Regular', Arial, sans-serif;
		}

h5 {
    font-size: 0.9em;
    line-height 1.223;
    text-align: right;
    font-weight: 500;
    }

/*
h4 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}
 */


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.container1 {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.titleFooter {
    width: 50.01%;
    }

.titleFooter h2 {
    text-align: right;
    padding: 0.2em 0 0 0;
    }

.container2 {
  width: 20%;
  float: left;
  padding: 0.5em 0 0 0;
}

.container3 {
 width: 80%;
 float: left;
 padding: 0.5em 0 0 0;
}

.container3 h5 {
 text-align: left;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.logo {
    float: left;
    padding: .1em 0 0 .3em;
    }

/******************NAVIGATION******************/

#nav {
    padding: 0.55em 0;
    }

#nav h3 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#nav ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: .55em 0 .2em;
}

#nav li {
   border-top: 1px solid #eee;
}

#nav a {
   display: block;
   font-size: 1.063em;
   color: #333;
   text-decoration: none;
   padding: .975em 1.3em;
}

#nav a:hover {
   background: #f8f8f8;
}

/* Hide <nav> off-screen http://37signals.com/svn/posts/3126-another-9999px ] */

#nav nav {
    height: 0;
    overflow: hidden;
}

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {padding: 0;}
    to {padding: 0;}
}

#nav input[type=checkbox] {
    position: absolute;
    top: -999em;
    left: -999em;
}

#nav label {
    display: block;
    background: url("img/icon-menu.png") no-repeat right center;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

/* Show <nav> on-screen / drop-down menu */

#nav input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
}


.group img, .secondset img{
    width: 300px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    }

.group img{
    padding: 10px 0;
}

.secondset {
    padding: 10px 0 20px 0;
    }


/******************************* MAIN CONTENT *********************************************/

.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}


/******************* FIXED BGs *************************/

.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.fixed-bg h1, .fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 8%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.9);
}

.fixed-bg {
    background-attachment: fixed;
  }

.fixed-bg.cd-bg-1 {
  background-image: url("ren.woman.jpg");
}

.fixed-bg.cd-bg-2 {
  background-image: url("img/concrete2.jpg");
}

}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }

}

.scrolling-bg {
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.container1 h1 {
    border-bottom: 1px;
    }

/*
.crolling-bg.cd-color-1 {
  background-color: rgb(255, 92, 51);
  color: #a6989a;
}
*/

.scrolling-bg.cd-color-1 {
  background-image: url("img/concrete2.jpg");
  color: #3d3536;
}

.scrolling-bg.cd-color-2 {
  background-color: rgb(153, 204, 255);
  color: #3d3536;
  height: 6.5em;
}

/*
.scrolling-bg.cd-color-3 {
  background-color: rgb(255, 92, 51);
  color: #3d3536;
}
*/

/** IE support */
.ie .img {
    *behavior: url("http://absolute-path.com/js/boxsizing.htc");
}

/* blurring property */
.imagecontainer img {

	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagecontainer img:hover {
	-webkit-filter: blur(6px);
	filter: blur(6px);
}

/*CONTACT PAGE STYLES*/

.imgcontact img{
    width: 200px;
    border-radius: 100px;}

.imgcontact img {
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgcontact:hover img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

.blurcontainer {
    padding: 20px 0 0 50px;}

/* ******************************************
    Media Queries
****************************************** */

@media only screen and (min-width: 345px) {
    h6 {
    	font-size: 1.382em; /* 1.3 x 1.063*/
    	line-height: 1.176;
    		}

@media only screen and (min-width: 430px) {
    h1 {
        font-size: 2.126em;
        line-height: 1.223;
    }
     .group img, .secondset img{
            width: 400px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
      }
     .group img{
             padding: 15px;
      }
     .secondset {
            padding: 15px 0 15px 0;
      }
}

.scrolling-bg.cd-color-2 {
    height: 7.5em;
}

@media only screen and (min-width: 530px) {
    .group img, .secondset img{
        width: 450px;
        max-width: 100%;
        display: block;
        margin: 0 auto;
        }
    .group img{
        padding: 20px;
    }
    .secondset {
        padding: 20px 0 70px 0;
    }
}

@media only screen and (min-width: 720px) {

    .logo {
    padding: .55em 0 0 .3em
    }

    .name {
            float: left;
            font-family: 'CarbonType', Arial, sans-serif;
            color: transparent;
            padding: 0 0 0 10px;
    }

    .name:hover{
        color: black;
    }

  /*     1. Remove padding from one-column layout style.   */
    #nav {
        padding: 0;
    }
    /*     2. Adjust headline baseline using margin-top to align with horizontal menu and margin-right to create a gap/division from the two types of content.  */
    #nav h3 {
         margin: .39em 1.3em 0 0;
    }
    /*     3. Remove <label> element.     */
    #nav label {
        display: none;
    }
    /*    4. Show <nav> on-screen.    */
    #nav nav {
        height: auto;
        overflow: visible;
    }
    /*     5. Remove border and margin from one-column layout style.   */
    #nav ul {
        border: 0;
        margin: 0;
    }
    /*    6. Display <li> as inline for horizontal menu layout.    7. Remove border.     */
    #nav li {
        display: inline;
        border: 0;
    }
    /*     8. Display <a> from block to inline-block to remain inline for horizontal menu layout.     */
    #nav a {
        display: inline-block;
        font-size: .93em;
        padding: .975em .2em;
        }

.scrolling-bg.cd-color-2 {
    height: 8.5em;
}

@media only screen and (min-width: 900px) {
  .scrolling-bg {
    padding: 20px 0 0 0;
    }

.imagecontainer img{
     width: 300px;
     float: left;
     padding: 0;
     margin: 0;
  }

.imagecontainer {
    width: 900px;
    margin: 0 auto;
    }

.secondset {
    padding: 50px 0 500px 0;
    clear: both;
    width: 900px;
    margin: 0 auto;
    }

#secondset img {
    width: 450px;
    float: left;
}

#nav a {
      font-size: 1.1em;
      padding: .975em .8em;}

.scrolling-bg.cd-color-2 {
    height: 10.5em;
}
 }


